body {
    background: #4f7288;
}
.accordion .card-header {
    background-color: #4f7288;
    color: #ffffff;
}
.accordion .card-body,ul {
    background-color: #eff7fb;
}
.activated-license {
    color: #32CD32;
}
.button {
    background-color: #4f7288; 
    border: black;
    border-style: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.card-header-tabs {
    border-bottom: 1px solid #eee;
}
.center-block {
    margin: 0 auto;
}
.footer {
    background-color: #343a40;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
.info-render{
    background: #eff7fb;
    border-radius: 1rem;
    box-shadow: 0em 1em 2em #000000;
    margin-bottom: 4rem;
    margin-top: 1.5rem;
}
.info-render > .card {
    border: none;
    background: #eff7fb;
}
.license-detail-block {
    background-color: #A9A9A9;
    border: 3px solid #eff7fb;
    height: 5em;
    line-height: -3em;
    font-weight: bold;
    color: #343a40;
}
.license-label {
    display: block;
    font-size: .8em;
    opacity: 0.8;
    text-align: left;
}
.list-group {
    padding-right: 0;
}
.list-group-item {
    background-color: #eff7fb;
}
.no-list-bullet {
    list-style-type: none;
}
.mainblock {
    justify-content: center;  
    background:white; 
    margin:15%; 
    padding:5%; 
    box-shadow: 0 1px 1.5rem rgba(0,0,0,.1); 
    border-radius: 1rem; 
    margin-top: 1%; 
}
.nav-tabs > .nav-link {
    border-bottom: 1px solid #eee;
    box-shadow: 1px 1px 5px #4f7288 inset;
}
.nav-tabs > .nav-link.active {
    background-color: #eff7fb;
    border-bottom: none;
    box-shadow: none;
}
.suspended {
    color: #ff0033;
}
.tab-padding {
    padding: 1em;
}
.twobuttons {
    width: 210px;
    padding-left: 30px;
    margin-left: 3%;
    margin-top: 3%;
}










