.activated-license {
    color: #32CD32;
}
.no-list-bullet {
    list-style-type: none;
}
.suspended {
    color: #ff0033;
}

.body {
    background: #92c7e0;
}

.mainblock {
    justify-content: center;  
    background:white; 
    margin:5%; 
    padding:5%; 
    box-shadow: 0 1px 1.5rem rgba(0,0,0,.1); 
    border-radius: 1rem; 
    margin-top: 1%; 
}

.button {
    background-color: #71def7; 
    border: black;
    border-style: solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}